.footer1{
    background-color: $hero-header-bg;
    background-image: url('../images/hero-blur-image-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
 
}
.footer__top {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
   
}

.footer__top__content {
    color: $white-color;
}
.footer__content__img {
    padding-bottom: 3.3rem;
}
.footer__content__text {
    padding-bottom: 3.3rem;
    font-size: $p-fs;
    font-family: $main-font;
    font-weight: $p-fw;
    line-height: $p-lh;
    
}
.footer__content__ceo {
    color: #AABFC6;
    font-family: $main-font;
    font-weight: $p-fw;
    line-height: $p-lh;
}

.footer2 {
    background-color: $white-color;
}

.footer__bottom {
   padding-top: 10rem;
   padding-bottom: 19rem;
    display: flex;
    gap: 17rem;
}

.footer__bottom__logo {
    padding-bottom: 2rem;
}
.footer__bottom__text {
    padding-bottom: 5.5rem;
    color: $secondary-text-light-color;
}
.footer__bottom__left-list {
    display: flex;
    gap: 1.2rem;
}



.footer__bottom__title {
    padding-bottom: 2.8rem;
    color: $cyan-color;
}
.list-link{
    padding-bottom: 1rem;
    color: $secondary-text-light-color;
}