$main-text-color:#757575;
$secondary-text-color:#696969;
$secondary-text-light-color:#787878;
$hero-text-color: #849499;
$hero-header-bg: #043E51;
$orange-color:#FFA63A;

$cyan-color:#08546C;
$cyan-color-light:#145E76;
$cyan-color-seondary-light:#094556;
$white-color:#FFFFFF;
$link-color:#A1B5BB;


$main-font: "Inter", sans-serif;
$secondary-font: "Schoolbell", cursive;

$h1-fs: 6.4rem;
$h1-lh: 1.25;

$h2-fs: 4.5rem;
$h2-fw: 600;
$h2-lh: 1.33;

$h4-fs: 2.4rem;
$h4-fw:600;
$h4-lh: 1.2;

$h4-fw-light: 500;
$btn-fs: 1.8rem;
$btn2-fs:2.4rem;
$p-fs: 1.8rem;
$p-fw:400;
$p-lh:1.6rem;